@page
@model TaskMate.Api.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<h2>@ViewData["Title"]</h2>
<div>
    <form method="post">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
</div>
